header[title=záhlaví]{
    background-image: url(https://autorskesperky.com/img/cms/tucnak-1.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



h1{
    color: blue;
}